<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Formulario de creación' }) %>

	<body>
		<!-- Header -->
		<%- include('partials/headerNavbar') %>
			<!-- /Header -->

			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Formulario de creación de productos</h2>
					</div>
				<div class="col-12">
					<form method="POST" enctype="multipart/form-data">
						<div class="row product-detail">
							<div class="col-12">
								<div class="row">
									<div class="col-12 col-md-6 col-lg-3">
										<label for="title" class="form-label">Nombre del producto:</label>
										<input type="text" id="title" name="title" placeholder="Ej: Zapatillas Reebok"
											class="form-input">
									</div>
									<div class="col-12 col-md-6 col-lg-3">
										<label for="price" class="form-label">Precio del producto:</label>
										<input type="number" id="price" name="price" placeholder="Ej: 5678"
											class="form-input">
									</div>
									<div class="col-12 col-md-6 col-lg-3">
										<label for="discount" class="form-label">Descuento:</label>
										<input type="number" id="discount" name="discount" placeholder="Ej: 15"
											class="form-input">
									</div>
									<div class="col-12 col-md-6 col-lg-3">
										<label for="categoryId" class="form-label">Categoría:</label>
										<select name="categoryId" id="categoryId" class="form-input" style="background-color: white;">
											<option value="" hidden selected>Elegí</option>
											<% categories.forEach(category => { %>
												<option value="<%= category.id %>"><%= category.name %> </option>
											<% }) %>
										</select>
									</div>
									<div class="col-12">
										<label for="description" class="form-label">Descripción:</label>
										<textarea rows="1" name="description" id="description" class="form-input"
											style="resize: none;"></textarea>
									</div>
									<div class="col-12">
										<div class="row">
											<div class="col-12 col-md-4">
												<div style="width: 100%; height: 200px; border: solid 1px grey; border-radius: 8px;">
													<img src="" alt="" id="imagePrev1">
												</div>
												<label for="image1" class="buy-now-button mt-3" style="cursor: pointer; background-color:darkcyan">Agregar imágen</label>
												<input type="file" id="image1" name="images" accept="image/*" hidden>
											</div>
											<div class="col-12 col-md-4">
												<div style="width: 100%; height: 200px; border: solid 1px grey; border-radius: 8px;">
													<img src="" alt="" id="imagePrev2">
												</div>
												<label for="image2" class="buy-now-button mt-3" style="cursor: pointer; background-color:darkcyan">Agregar imágen</label>
												<input type="file" id="image2" name="images" accept="image/*" hidden>
											</div>
											<div class="col-12 col-md-4">
												<div style="width: 100%; height: 200px; border: solid 1px grey; border-radius: 8px;">
													<img src="" alt="" id="imagePrev3">
												</div>
												<label for="image3" class="buy-now-button mt-3" style="cursor: pointer; background-color:darkcyan">Agregar imágen</label>
												<input type="file" id="image3" name="images" accept="image/*" hidden>
											</div>
										</div>
				
									</div>
									<div class="col-12">
										<button type="submit" class="buy-now-button" style="width: 100%;">Guardar
											producto</button>
									</div>

								</div>

							</div>
						</div>
				</div>

			</div>
			</form>
			</div>

			<!-- /todos los productos -->

			<!-- footer -->
			<%- include('partials/footer') %>
				<!-- /footer -->
			<script src="/js/productAdd.js"></script>
	</body>

</html>