<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Editando: ' + product.title}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Estás editando: <i><%= product.title %></i></h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="title" class="form-label">Nombre del producto:</label>
						<input type="text" id="title" name="title" placeholder="Ej: Zapatillas Reebok" class="form-input" value="<%= product.title %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="number" id="price" name="price" placeholder="Ej: 5678" class="form-input" value="<%= product.price %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="number" id="discount" name="discount" placeholder="Ej: 15" class="form-input" value="<%= product.discount %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="categoryId" class="form-label">Categoría:</label>
						<select name="categoryId" id="categoryId" class="form-input">
							<option value="" hidden selected>Elegí</option>
							<% categories.forEach(category => { %>
								<option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : null %>><%= category.name %> </option>
							<% }) %>
						</select>
					</div>
					<div class="col-12 col-md-6">
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description" class="form-input"><%= product.description %></textarea>
					</div>
					<div class="col-12 col-md-6">
						<div class="row">
							<div class="col-6">
								<img src="/images/products/<%= product.images[0].file %>" alt="">
							</div>
							<div class="col-6">
								<label for="image" class="form-label">Imagen principal:</label>
								<input type="file" id="image" name="image"class="form-input" accept="image/*">
							</div>
						</div>
						
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar cambios</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>